[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
py-cord = "*"
google-generativeai = "*"

# for loading .env files (load_dotenv)
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"